body {
  background-color: #245;
  color: #fff; }

img {
  border-radius: 10px; }

section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

img.thumbnail {
  width: 100%; }

div.thumbnail {
  width: 10%;
  margin: 0.5%; }

#MyPicture {
  width: 15%; }
